<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="/static/icon2.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>COVID-19 SelfChecker</title>
  </head>
  <body> 
<div class="bg-image" style="background-image: url('/static/76.jpg');height: 120vh;">
    <nav class="navbar navbar-expand-lg" style="background-color: rgba(232,213,196,255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        </b><a class="navbar-brand" href="/" style="color: rgba(8,74,130,255);"><b>COVID-19 SelfChecker</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about"style="color: rgba(8,74,130,255);">About Us</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/about#contact" tabindex="-1" aria-disabled="true"style="color: rgba(8,74,130,255);">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://red-beach-0fec6a200.1.azurestaticapps.net/"style="color: rgba(8,74,130,255);">NewsLetter</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="border-style: solid;color: rgba(8,74,130,255); border-color: rgba(8,74,130,255)">
            <button class="btn btn-secondary" type="button"style="background-color: rgba(232,213,196,255);color:rgba(8,74,130,255);">Go</button>
          </form>
        </div>
      </nav>


      <div class="container">
          <h2 class="text-center mt-3" style="color:rgba(8,74,130,255);">Take A Self-Test</h2>
          <!-- <hr style="border: 5px solid rgba(232,213,196,255);
          border-radius: 4px;"> -->
          <form action="/" method="POST" style="font-size: larger;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;color: rgba(8,74,130,255);">
            
            <div class="form-group">
              <label for="runnyNose">Do you have runny nose</label>
              <select required="" oninvalid="this.setCustomValidity('Enter your input to Submit')"
              oninput="setCustomValidity('')"  class="form-control custom-select" name="runnyNose" id="runnyNose" style="background-color: azure; color:rgba(68,64,114,255)">
                <option value="" disabled selected>Select your option</option>
                <option value="1">Yes</option> 
                <option value="0">No</option> 
              </select>
            </div>

            <div class="form-group"><br>
              <label for="fever">Do you have fever</label>
              <select  required="" oninvalid="this.setCustomValidity('Enter your input to Submit')"
              oninput="setCustomValidity('')" class="form-control custom-select" name="fever" id="fever" style="background-color: azure; color:rgba(68,64,114,255)">
                <option value="" disabled selected>Select your option</option>
                <option value="1">Yes</option> 
                <option value="0">No</option> 
              </select>
            </div>

            <div class="form-group"><br>
              <label for="sorethroat">Do you have sore-throat</label>
              <select required="" oninvalid="this.setCustomValidity('Enter your input to Submit')"
              oninput="setCustomValidity('')" class="form-control custom-select" name="sorethroat" id="sorethroat" style="background-color: azure; color:rgba(68,64,114,255)"> 
                <option value="" disabled selected>Select your option</option>
                <option value="1">Yes</option> 
                <option value="0">No</option> 
              </select>
            </div>

            <div class="form-group"><br>
              <label for="diffBreath">Do you have difficulty in breathing</label>
              <select required="" oninvalid="this.setCustomValidity('Enter your input to Submit')"
              oninput="setCustomValidity('')" class="form-control custom-select" name="diffBreath" id="diffBreath" style="background-color: azure; color:rgba(68,64,114,255)">
                <option value="" disabled selected>Select your option</option>
                <option value="1">Yes</option> 
                <option value="0">No</option> 
              </select>
            </div>


            <div class="form-group"><br>
              <label for="headache">Do you have Headache</label>
              <select required="" class="form-control custom-select" name="headache" id="headache" oninvalid="this.setCustomValidity('Enter your input to Submit')"
              oninput="setCustomValidity('')" style="background-color: azure; color:rgba(68,64,114,255)">
                <option value="" disabled selected>Select your option</option>
                <option value="1">Yes</option> 
                <option value="0">No</option> 
              </select>
            </div><br>
         
            

            <button class="btn btn-success"style="background-color: rgba(143,79,113,255);color:white;"><b>Submit</b></button>
          </form>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       
  </body>
</html>